{% extends 'base.html' %}
{%load static %}

<html lang="en">
{% block page_content %}
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'cars/css/style.css' %}">
</head>
<body>
    <h1> Автомобили </h1>

    <a href="{%url 'tesla'%}"><img height="200" width="300" src="{% static 'cars/img/tesla.jpg' %}" alt="no image"></a>
    <a href="{%url 'volvo'%}"><img height="200" width="300" src="{% static 'cars/img/volvo.jpg' %}" alt="no image"></a>
    <a href="{%url 'bmw'%}"><img height="200" width="300" src="{% static 'cars/img/bmw.jpg' %}" alt="no image"></a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>
{% endblock %}